.attachments {
  display: none;
  margin-top: 8px;
  margin-left: -2%;
  margin-bottom: 10px;
  padding: 0;


  .attachment {
    display: inline-block;
    position: relative;
    margin-left: 2%;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: top;
    width: 22.5%;
    // overflow: hidden;

    &:hover .delete {
      display: block;
    }
  }

  .delete {
    display: none;
    position: absolute;
    top: -8px;
    right: -4px;
  }

  .btn-delete {
    display: block;
    cursor: pointer;
    width: 21px;
    height: 20px;
    background-position: -24px -25px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }

}
