.attachments {
  display: none;
  margin-top: 8px;
  margin-left: -2%;
  margin-bottom: 10px;
  padding: 0;

  img {
    margin-left: 2%;
    margin-bottom: 8px;
    width: 23%;
    height: auto;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: top;
  }
}
