.nav-tabs > li {
  &.active {
    border-top: 2px solid $brand-color !important;

    > a {
      color: $text-color-base;
      border-top: 0;
      border-radius: 0;

      &:hover {
        color: $text-color-base;
        cursor: pointer;
        border-top: 0;
      }
    }
  }

  a {
    font-size: $font-size-small;
    padding: 10px 20px 9px;
    margin-right: 0;
    color: $text-color-base;

    &:hover {
      background-color: #f5f5f5;
      border-color: #f5f5f5;
      border-radius: 0;
    }
  }
}
