.post-list {

  .btn-kudo {
    .count,
    .icon-kudo {
      line-height: 20px;
    }

    .icon-kudo {
      width: 18px;
      height: 18px;

      @media (min-width: $screen-xs) {
        width: 20px;
        height: 20px;
      }
    }
  }
}
