.comment,
.post-detail,
.post-create {
  h2 {
    margin-top: 0;
  }
}


.post-title {
  margin-bottom: 30px;
  font-weight: $font-weight-thin;

  .divider {
    background-color: $text-color-base;
    height: 10px;
    width: 1px;
    padding: 0;
    margin: 0 5px;
  }


  .list-post-meta {
    font-size: $font-size-small;

    @media (min-width: $screen-xs) {
      font-size: $font-size-base;
    }

    .btn-kudo {
      padding: 0;
      line-height: 17px;

      .count {
        vertical-align: inherit;
      }

      .icon-kudo {
        margin-right: 0;
        width: 17px;
        height: 17px;
        top: -3px;
      }
    }
  }
}

.list-post {
  margin-bottom: 0;
  transition: height .2s linear;
}

.post {
  display: table;
  margin-bottom: 30px;

  > div {
    display: table-cell;
    vertical-align: top;
  }

  &:last-child .post-footer {
    border-color: transparent;
  }

  .post-meta,
  .post-date {
    color: $text-color-lightgray;
    font-size: $font-size-small;

    a {
      color: $text-color-lightgray;
    }
  }

  .post-meta {
    width: 32px;
    padding-right: 12px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 32px;
    }
    p {
      margin: 6px 0 0;
      text-align: center;
      font-size: 11px;
    }

    @media (min-width: $screen-xs) {
      width: 48px;
      padding-right: 18px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 48px;
      }
    }
  }

  .post-body {
    width: 100%;

    .icon-remove {
      display: none;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  & + .post {
    &:hover .icon-remove {
      display: inline-block;
    }
  }

  .post-footer {
    margin-top: 14px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;

    .btn-kudo {
      display: inline-block;

      .count,
      .icon-kudo {
        line-height: 18px;
        font-size: $font-size-small;
      }
      .icon-kudo {
        width: 18px;
        height: 18px;
        padding: 0;
      }
    }
  }
}

.post-create {
  .select-post-type .form-group {
    display: inline-block;

    & + .form-group {
      margin-left: 18px;
    }

    select {
      min-width: 120px;
    }
  }

  textarea {
    min-height: 150px;
  }
}

.comment {
  h2 {
    margin-bottom: 20px;
  }

  .spinner {
    position: relative;
    top: 25%;
    margin-top: 0;
  }

  .comment-wrap {
    display: table;
    width: 100%;

    > * {
      display: table-cell;
      vertical-align: middle;
      position: relative;
    }
  }

  .comment-user {
    width: 32px;
    padding-right: 12px;
    vertical-align: top;

    img {
      width: 32px;
      height: 32px;
      border-radius: 32px;
    }
    @media (min-width: $screen-xs) {
      width: 48px;
      padding-right: 18px;

      img {
        width: 48px;
        height: 48px;
        border-radius: 48px;
      }
    }
  }

  textarea {
    min-height: 120px;
  }
}
