.icon-nav,
.global-nav .selection:after,
.user-nav .selection:after,
.notifications-icon,
.empty.active .notifications-icon {
  background-image: url('/assets/sprites/sprites-nav-9b904fd536d0b6e19bd3fc1cd393e456.png');
  background-size: 163px 54px;
}

.strava-logo {
  display: inline-block;
  width: 95px;
  height: 20px;
  overflow: hidden;
  text-indent: -999em;
  background-image: url('/assets/svg/strava-logo-5428c45001c30a8796a8eca5951a15e8.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}

.icon-upload {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSI5NiIgdmlld0JveD0iMCAwIDI0IDk2Ij48ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDEpIj48cmVjdCBzdHJva2U9IiNGQzRDMDIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgeD0iMCIgeT0iMCIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIyIiByeD0iMiIvPjxwYXRoIGQ9Ik0xMCAxMEwxMCA2IDEyIDYgMTIgMTAgMTYgMTAgMTYgMTIgMTIgMTIgMTIgMTYgMTAgMTYgMTAgMTIgNiAxMiA2IDEwIDEwIDEwWiIgZmlsbD0iI0ZDNEMwMiIvPjwvZz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxIDczKSI%2BPHJlY3Qgc3Ryb2tlPSIjRkM0QzAyIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHg9IjAiIHk9IjAiIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgcng9IjIiLz48cGF0aCBkPSJNMTAgMTBMMTAgNiAxMiA2IDEyIDEwIDE2IDEwIDE2IDEyIDEyIDEyIDEyIDE2IDEwIDE2IDEwIDEyIDYgMTIgNiAxMCAxMCAxMFoiIGZpbGw9IiNGQzRDMDIiLz48L2c%2BPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAyNSkiPjxyZWN0IHN0cm9rZT0iI0ZDNEMwMiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBmaWxsPSIjRkM0QzAyIiB4PSIwIiB5PSIwIiB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHJ4PSIyIi8%2BPHBhdGggZD0iTTEwIDEwTDEwIDYgMTIgNiAxMiAxMCAxNiAxMCAxNiAxMiAxMiAxMiAxMiAxNiAxMCAxNiAxMCAxMiA2IDEyIDYgMTAgMTAgMTBaIiBmaWxsPSIjRkZGIi8%2BPC9nPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgNDgpIiBmaWxsPSIjRkZGIj48cGF0aCBkPSJNMTEgMTFMMTEgNyAxMyA3IDEzIDExIDE3IDExIDE3IDEzIDEzIDEzIDEzIDE3IDExIDE3IDExIDEzIDcgMTMgNyAxMSAxMSAxMVpNMiAwQzAuOSAwIDAgMC45IDAgMkwwIDIyQzAgMjMuMSAwLjkgMjQgMiAyNEwyMiAyNEMyMy4xIDI0IDI0IDIzLjEgMjQgMjJMMjQgMkMyNCAwLjkgMjMuMSAwIDIyIDBMMiAwWiIvPjwvZz48L2c%2BPC9zdmc%2BCg%3D%3D');
}

.website-sprite {
  background-image: url('/assets/website/sprites/sprites-website-562a27b9c6ff6d9729c8801ae762dd75.png');
}
