.thread {
  margin: 20px 0;
  font-size: $font-size-small;
  position: relative;

  .no-items {
    margin: 40px 0;
    text-align: center;

    h4 {
      font-weight: $font-weight-base;
    }
  }

  .list-thread + .list-thread {
    border-bottom: 1px solid #e5e5e5;
  }

  .thead,
  .tbody {
    display: block;
    table-layout: none;
    width: auto;

    > * {
      display: block;
      vertical-align: middle;
    }

    @media (min-width: $screen-sm) {
      display: table;
      table-layout: fixed;
      width: 100%;

      > * {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .thread-meta {
    display: table;
    table-layout: fixed;
    width: 100%;

    > * {
      display: table-cell;
      vertical-align: middle;
    }

    .thread-icon {
      vertical-align: top;

      @media (min-width: $screen-sm) {
        vertical-align: middle;
      }
    }
  }

  .thead > *,
  .tbody > * {
    padding: 18px 12px;

    @media (min-width: $screen-md) {
      padding: 12px 20px;
    }
  }

  .thead {
    background-color: #f5f5f5;
    margin-bottom: 0;

    > * {
      font-weight: $font-weight-bold;
      border-bottom: 1px solid $border-color;
    }
  }


  .tbody {
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, .02);
    }
  }

  a {
    color: $text-color-base;

    &:hover {
      color: $link-hover;
    }
  }

  .thread-meta {
    table-layout: auto;

    .thread-title {
      font-size: 14px;

      p {
        margin: 3px 0 0;
        font-size: 11px;
        color: $text-color-lightgray;

        a {
          color: $text-color-lightgray;
        }
      }
    }

    .thread-icon {
      width: 24px;

      i,
      img {
        margin-right: 10px;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        vertical-align: middle;
      }
    }

    @media (min-width: $screen-sm) {
      .thread-title {
        font-size: $font-size-base;
      }
      .thread-icon {
        width: 36px;

        i,
        img {
          margin-right: 18px;
        }
      }
    }
  }

  .main {
    padding-bottom: 0;
  }

  .num {
    display: inline-block;
    text-align: center;
    padding: 9px 8px;
  }

  .num-xs,
  .update {
    padding-left: 58px;
  }

  .update {
    display: block;
    padding-top: 0;

    .thread-icon {
      vertical-align: middle;
    }
    .thread-title {
      font-size: $font-size-small;
    }

    .no-message {
      margin: 0;
      text-align: center;
      font-size: $font-size-small;
      color: $text-color-lightgray;
      cursor: pointer;
    }

    .avatar img {
      margin-right: 6px;
      border-radius: 28px;
      width: 28px;
      height: 28px;

      @media (min-width: $screen-md) {
        margin-right: 12px;
        border-radius: 36px;
        width: 36px;
        height: 36px;
      }
    }

    p {
      margin: 0 !important;
    }
  }
  @media (min-width: $screen-sm) {
    .main {
      padding-bottom: 9px;
    }
    .num,
    .update {
      display: table-cell;
      padding-top: 9px;
    }

    .num-xs,
    .update {
      padding-left: 12px;
    }

    .num {
      width: 80px;
    }
    .update {
      width: 160px;

      @media (min-width: $screen-md) {
        width: 180px;
      }
    }
  }

  .icon-athletes,
  .icon-posts,
  .icon-messages,
  .icon-views {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    opacity: .3;
  }

  .icon-athletes {
    background-image: url('/assets/svg/athletes.svg');
  }
  .icon-posts {
    background-image: url('/assets/svg/posts.svg');
  }
  .icon-messages {
    background-image: url('/assets/svg/messages.svg');
    top: 2px;
  }
  .icon-views {
    background-image: url('/assets/svg/views.svg');
    width: 14px;
    height: 12px;
    top: 1px;
  }

  .icon-admin,
  .icon-cycling,
  .icon-running,
  .icon-challenge {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    width: 36px;
    height: 36px;
  }

  .icon-admin {
    background-image: url('/assets/svg/admin.png');
    width: 30px !important;
    height: 35px !important;
    border-radius: 0 !important;
  }
  .icon-cycling {
    background-image: url('/assets/svg/cycling.svg');
  }
  .icon-running {
    background-image: url('/assets/svg/running.svg');
  }
  .icon-challenge {
    background-image: url('/assets/svg/challenge.svg');
  }
}
