@import 'variables';
@import 'typography';
@import 'strava';
@import 'nav';
@import 'header';
@import 'footer';
@import 'thread';
@import 'post-list';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  color: $text-color-base;
}

a:hover {
  color: $link-hover;
}
