@import 'variables';
@import 'typography';
@import 'strava';
@import 'btn';
@import 'nav';
@import 'header';
@import 'footer';
@import 'thread';
@import 'post-list';
@import 'post';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $font-size-base;
  color: $text-color-base;
}

a:hover {
  color: $link-hover;
}


.forum-head {
  margin: 20px 0 30px;

  h1 {
    margin: 0;
  }

  .btn-create-post {
    color: #fff;
    background-color: $brand-color;
    border-color: $brand-color;
    margin-top: 16px;
    width: 100%;

    @media (min-width: $screen-xs) {
      width: auto;
      margin-top: 0;
    }
  }
}
