<div class="footer-promos">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 promo">
        <h4>Your Recent Activities</h4>
        <ul class="list-unstyled recent-activities">
          <li>
            <img alt="Ride" class="icon" src="https://d3nn82uaxijpm6.cloudfront.net/assets/application/footer/icon-ride-xs-f08a6953f6f06a7f24236a46bbe9dd4f.png">
            <a class="minimal" href="/activities/380891312">Zwifting in Watopia</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 promo shop">
        <h4>Shop</h4>
        <a href="https://shop.strava.com/?utm_source=strava&amp;utm_medium=footer&amp;utm_content=dorado&amp;utm_campaign=evergreen">
          <img alt="" class="promo-image pull-right" src="https://d3nn82uaxijpm6.cloudfront.net/assets/application/footer/img-shop-wahoo-tickr-a426d215704730b5e62afdf18edba18c.png">
          <p>Discover gear and goods picked by athletes like you. <strong>Check out our favorite stuff at the Shop</strong>.</p>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 promo">
        <a href="/premium?source=promo-footer-right" data-content="strava://analytics/mixpanel/upsell?channel=promo_footer_right&amp;content=free">
          <img alt="" class="promo-image pull-right" src="https://d3nn82uaxijpm6.cloudfront.net/assets/application/footer/img-premium-6eb7498dcf1250f3d85126a9c38b921b.png">
        </a>
        <h4>Become a Premium Member</h4>
        <p>Go premium and access member-only rewards, benefits, and other motivational features.</p>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <a href="/" class="strava-logo">Strava — Built for Athletes</a>
        <div class="copyright">
          ©2015 Strava, Inc. All rights reserved.
        </div>
        <div class="newsletter">
          <div class="website-sprite email pull-left"></div>
          <p class="marginless">
            <a href="http://news.strava.com/pub/sf/ResponseForm?_ri_=X0Gzc2X%3DWQpglLjHJlYQGiSozf7rCHKdWzeYza4mvRze7JejzaRVXMtX%3DWQpglLjHJlYQGtFnreFzc5lDirSNUvB2Ah6PeNn&amp;_ei_=EuI0cB4lm_XSkQyq89oBRyQ" target="_blank">Sign up for our newsletter and get the latest from Strava.</a>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <h4>About</h4>
            <ul class="list-unstyled">
              <li><a href="/about">About</a></li>
              <li><a href="/how-it-works">How It Works</a></li>
              <li><a href="/features">Features</a></li>
              <li><a href="/mobile">Mobile</a></li>
              <li><a href="/premium?cta=premium&amp;element=nav&amp;source=global-footer">Premium</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms">Terms and Conditions</a></li>
              <li><a href="https://strava.zendesk.com/entries/46363890-About-Strava-Maps">About Our Maps</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-3">
            <h4>Follow</h4>
            <ul class="list-unstyled">
              <li><a href="http://www.facebook.com/StravaRun" target="_blank">Facebook - Running</a></li>
              <li><a href="http://www.facebook.com/Strava" target="_blank">Facebook - Cycling</a></li>
              <li><a href="http://twitter.com/strava" target="_blank">Twitter</a></li>
              <li><a href="http://www.youtube.com/stravainc" target="_blank">YouTube</a></li>
              <li><a href="http://blog.strava.com">Blog</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-3">
            <h4>Help</h4>
            <ul class="list-unstyled">
              <li><a href="https://strava.zendesk.com/home">Support</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-3">
            <h4>More</h4>
            <ul class="list-unstyled">
              <li><a href="/local">Local</a></li>
              <li><a href="/shop" class="js-content-shop">Shop</a></li>
              <li><a href="/careers">Careers</a></li>
              <li><a href="/developers">Developers</a></li>
              <li><a href="/pros">Pros on Strava</a></li>
              <li><a href="/stand-with-us">Stand With Us</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</footer>
