<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forum</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/strava-app-icons.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  {{> header}}
  <div class="container">
    <div class="row forum">
      {{{body}}}
    </div>
  </div>
  {{> footer}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>

</body>
</html>
