<div class="col-md-12">
  <h1>Forum</h1>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Active</a></li>
    <li ><a href="#">Starred</a></li>
    <li ><a href="#">Archived</a></li>
  </ul>

</div>
