<div class="col-md-12">
  <h1>Forum</h1>

  <ul class="tabs bottomless">
    <li class="leaderboard-tab selected">
      <a href="#" class="tab">Active</a>
    </li>
    <li>
      <a href="#" class="tab">Starred</a>
    </li>
    <li>
      <a href="#" class="tab">Archived</a>
    </li>
  </ul>

</div>
