<div class="col-md-12">
  <h1>Forum</h1>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Active</a></li>
    <li ><a href="#">Starred</a></li>
    <li ><a href="#">Archived</a></li>
  </ul>

  <div class="thread">
    <ul class="list-unstyled list-thread thead hidden-xs">
      <li class="main">Category</li>
      <li class="num">Athletes</li>
      <li class="num">Posts</li>
      <li class="num">Messages</li>
      <li class="update">Last Updated</li>
    </ul>
    <ul class="list-unstyled list-thread">
      <li class="tbody">
        <div class="main">
          <div class="thread-meta">
            <div class="thread-icon">
              <i class="icon-cycling"></i>
            </div>
            <div class="thread-title">
              <a href="#">Forum Rules</a>
            </div>
          </div>
        </div>
        <div class="num"><i class="icon-athletes visible-xs-inline-block"></i>125</div>
        <div class="num"><i class="icon-posts visible-xs-inline-block"></i>2,906</div>
        <div class="num"><i class="icon-messages visible-xs-inline-block"></i>39,936</div>
        <div class="update">
          <div class="thread-meta">
            <div class="thread-icon avatar">
              <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/7417/4259/2/medium.jpg">
            </div>
            <div class="thread-title">
              <a href="#">Alex K</a>
              <p class="date">2 months ago</p>
            </div>
          </div>
        </div>
      </li>

      <li class="tbody">
        <div class="main">
          <div class="thread-meta">
            <div class="thread-icon">
              <i class="icon-cycling"></i>
            </div>
            <div class="thread-title">
              <a href="#">Cycling Racing</a>
            </div>
          </div>
        </div>
        <div class="num"><i class="icon-athletes visible-xs-inline-block"></i>860</div>
        <div class="num"><i class="icon-posts visible-xs-inline-block"></i>82,906</div>
        <div class="num"><i class="icon-messages visible-xs-inline-block"></i>139,936</div>
        <div class="update">
          <div class="thread-meta">
            <div class="thread-icon avatar">
              <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/734782/1717358/4/medium.jpg">
            </div>
            <div class="thread-title">
              <a href="#">Darragh Bradley</a>
              <p class="date">2 days ago</p>
            </div>
          </div>
        </div>
      </li>

      <li class="tbody">
        <div class="main">
          <div class="thread-meta">
            <div class="thread-icon">
              <i class="icon-running"></i>
            </div>
            <div class="thread-title">
              <a href="#">Running Gear</a>
            </div>
          </div>
        </div>
        <div class="num"><i class="icon-athletes visible-xs-inline-block"></i>2,125</div>
        <div class="num"><i class="icon-posts visible-xs-inline-block"></i>731</div>
        <div class="num"><i class="icon-messages visible-xs-inline-block"></i>2,421</div>
        <div class="update">
          <div class="thread-meta">
            <div class="thread-icon avatar">
              <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/1294718/558060/6/medium.jpg">
            </div>
            <div class="thread-title">
              <a href="#">Minori Kikugawa</a>
              <p class="date">2 minutes ago</p>
            </div>
          </div>
        </div>
      </li>

      <li class="tbody">
        <div class="main">
          <div class="thread-meta">
            <div class="thread-icon">
              <i class="icon-running"></i>
            </div>
            <div class="thread-title">
              <a href="#">Running Gear</a>
            </div>
          </div>
        </div>
        <div class="num"><i class="icon-athletes visible-xs-inline-block"></i>2,125</div>
        <div class="num"><i class="icon-posts visible-xs-inline-block"></i>731</div>
        <div class="num"><i class="icon-messages visible-xs-inline-block"></i>2,421</div>
        <div class="update">
          <div class="thread-meta">
            <div class="thread-icon avatar">
              <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/1294718/558060/6/medium.jpg">
            </div>
            <div class="thread-title">
              <a href="#">Minori Kikugawa</a>
              <p class="date">2 minutes ago</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
