<div class="col-md-12">
  <h1>Forum</h1>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Active</a></li>
    <li ><a href="#">Starred</a></li>
    <li ><a href="#">Archived</a></li>
  </ul>

  <table class="table forum-table">
    <thead>
      <tr>
        <th class="col-md-7">Category</th>
        <th class="col-md-1">Athletes</th>
        <th class="col-md-1">Posts</th>
        <th class="col-md-1">Messages</th>
        <th class="col-md-2">Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="title">
            <div class="title-icon">
              <i class="icon-cycling"></i>
            </div>
            <a href="#" class="title-link">Forum Rules</a>
          </div>
        </td>
        <td>125</td>
        <td>2,906</td>
        <td>39,936</td>
        <td>
          <div class="last-updated">
            <div class="avatar">
              <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/7417/4259/2/medium.jpg" width="36px" height="auto">
            </div>
            <div class="meta">
              <a href="#">Alex K</a>
              <p class="date">2 months ago</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="title">
            <div class="title-icon">
              <i class="icon-cycling"></i>
            </div>
            <a href="#" class="title-link">Cycling Racing</a>
          </div>
        </td>
        <td>203</td>
        <td>3,301</td>
        <td>22,002</td>
        <td>
          <div class="last-updated">
            <div class="avatar">
              <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/7417/4259/2/medium.jpg" width="36px" height="auto">
            </div>
            <div class="meta">
              <a href="#">Tom Wielrenner</a>
              <p class="date">2 hours ago</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="title">
            <div class="title-icon">
              <i class="icon-running"></i>
            </div>
            <a href="#" class="title-link">Running Gear</a>
          </div>
        </td>
        <td>959</td>
        <td>1,312</td>
        <td>9,132</td>
        <td>
          <div class="last-updated">
            <div class="avatar">
              <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/7417/4259/2/medium.jpg" width="36px" height="auto">
            </div>
            <div class="meta">
              <a href="#">Minori Kikugawa</a>
              <p class="date">2 days ago</p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
