<div class="col-md-12">
  <div class="forum-head">
    <h1>Forum</h1>
  </div>

  <ul class="nav nav-tabs">
    <li class="active" data-forum-type="active"><a href="#">Active</a></li>
    <li data-forum-type="kudos"><a href="#">Kudos</a></li>
    <li data-forum-type="archived"><a href="#">Archived</a></li>
  </ul>

  <div class="thread">
    {{> ajax_loader}}

    {{!-- Thread header --}}
    <ul class="list-unstyled list-thread thead hidden-xs">
      <li class="main">Category</li>
      <li class="num">Athletes</li>
      <li class="num">Posts</li>
      <li class="num">Messages</li>
      <li class="update">Last Updated</li>
    </ul>

    {{!-- Thread content list --}}
    <ul id="category-list" class="list-unstyled list-thread">
      {{> shared/category_list}}
    </ul>
  </div>

</div>
