<div class="col-md-12">
  <div class="forum-head clearfix">
    <h1 class="pull-left"><a href="/">Forum</a>{{#if title}} - <a href="/category/{{forum_id}}">{{title}}</a>{{/if}}</h1>
  </div>

  <div class="row post-create">
    <h2 class="col-md-12">Create Post</h2>

    {{!-- method should be POST, but as this is an prototype we use it as an redirect --}}
    <form action="/post/1" method="get" enctype="multipart/form-data">
      <div class="col-md-8 select-post-type">
        <div class="form-group">
          <label for="post-forum-select">Forum</label>
          <select id="post-forum-select" name="forumType">
            <option value="cycling" selected="selected">Cycling</option>
            <option value="running">Running</option>
            <option value="Challenge">Challenge</option>
          </select>
        </div>

        <div class="form-group">
          <label for="post-category-select">Category</label>
          <select id="post-category-select" name="categoryType">
            <option value="cycling" selected="selected">Racing</option>
            <option value="running">Gear</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-8">
        <label for="post-create-title">Post Title</label>
        <input type="text" name="title" class="form-control" id="post-create-title" placeholder="Title">
      </div>

      <div class="form-group col-md-8">
        <label for="post-create-body">Post Body</label>
        <textarea class="form-control" name="postBody"></textarea>
      </div>

      <div class="form-group col-md-8">
        <input type="file" name="fileUpload" id="fileUpload" class="hide" multiple>
        <button type="button" class="btn btn-link btn-add-photo">Add photo</button>
        <div id="attachments" class="col-md-12 attachments"></div>
      </div>

      <div class="form-group col-md-8">
        <button type="submit" class="btn btn-default btn-strava btn-strava-dark btn-submit disabled">Create Post</button>
        <button type="cancel" class="btn btn-link btn-cancel">Cancel</button>
      </div>
    </form>

  </div>

</div>
